/*

*/

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    width:5.26%;
}

th {
    background-color: black;

}


tr, .no_border {
    border: none;
}