certifi
chardet
Click
dj-database-url
Django
django-heroku
Flask
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
pip
pipenv
psycopg2
psycopg2-binary
pytz
requests
setuptools
sqlparse
urllib3
virtualenv
virtualenv-clone
Werkzeug
whitenoise
flask_request_params
boto3