/*

*/
* {
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;

    margin: 0 !important;
    padding: 0 !important;

}

#sidebar {
    width: 320px;
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0;
    left: 0;
    z-index: 1; /* Stack on top */

    background-color: black;
    color: lightgray;

    overflow-x: hidden; /* Disable horizontal scroll */

    transition: 0.2s;

}

header {
    width: 100%;
    height: 230px;

    overflow: hidden;

}

#homelogo {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: black;
    color: lightgray;
    text-decoration: none;

    font-size: 24px;

    float: left;

}

/*search bar*/
header input[type=text] {
    width: 100%;
    height: 30px;
    font-size: 17px;
    float: right;

}

#navigation {
    height: calc(100% - 330px);
}

#addressbar {
    height: 25px;

    border: thin solid

}

ul.breadcrumb {

    list-style: none;

    padding: 2px;
    margin: 0px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}

ul.breadcrumb li + li:before {
    color: blue;
    content: "> ";
}

ul.breadcrumb li a {
    color: lightgray;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    background-color: lightgray;
    color: black;
}

nav {
    width: 50%;
    height: 100%;
    float: left;
    overflow-x: hidden;

    border: thin solid
}

nav a {
    color: lightgray;
    display: block; /* Make the links appear below each other */
    padding: 12px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    width: 100%;

}

nav a:hover {
    background-color: lightgray;
    color: black;
}

.active {
    background-color: darkblue;
    color: lightgray;
}

footer {
    position: absolute;
    bottom: 0;
    /*padding: 24px;*/

    width: 100%;
    height: 75px;

    border: thin solid

}

#content {
    height: 100vh;
    margin-left: 320px;

    transition: 0.2s;

}

main {
    min-height: calc(100vh - 75px);
    padding: 24px;

    background-color: #222222;
    color: lightgray;

    border: thin solid

}

aside {
    height: 100vh;
    padding: 24px;

    background-color: black;
    color: lightgray;

    border: thin solid


}

@media screen and (max-width: 640px) {
    #sidebar {
        position: relative;
        width: 100%;
        height: 50vh; /* Full-height: remove this if you want "auto" height */
        min-height: 500px;
        top: 0;
        left: 0;
        z-index: 0; /* Stack on top */

    }

    #content {
        margin-left: 0;
        height: 100vh;
    }

}




table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    width:5.26%;
}

th {
    background-color: black;

}


tr, .no_border {
    border: none;
}