{% extends "layout.html" %}
{% block title %}ITL Component Store{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Store Components</h3>
      <p>Created: {{ my_bucket.creation_date | datetimeformat }}</p>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p class="bg-info" style="padding: 15px;">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
          </p>
        {% endif %}
      {% endwith %}
      <hr>

      <form class="upload-form" action="{{ url_for('component') }}" method="POST" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
      <hr>

      <table class="table table-striped">
        <tr>
          <th>Component</th>
          <th></th>
        </tr>
        {% for name in components %}
        <tr>
          <td>{{ name }}</td>
          <td class="td-buttons">
            <form class="delete-form" action="{{ url_for('version') }}" method="POST">
              <input type="hidden" name="component" value="{{ name }}">
              <button type="submit" class="btn btn-outline-primary">
                Versions
              </button>
            </form>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
