<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello from Flask</title>
</head>
<body>
<h1>Hello World from Flask</h1>

<a href="/static/Assignment 3/index.html">static files sample</a><br/>

<a href="1">page1</a><br/>
<a href="2">page2</a><br/>
<a href="3">page3</a><br/>
<a href="4">page4</a><br/>


<br/>

<button type="button" onclick="istart()">Test Button 1</button>
<div id="id1"></div>

<button type="button" onclick="ustart()">Test Button 2</button>
<div id="id2"></div>

<button type="button" onclick="">Test Button 3</button>
<div id="id"></div>
<button type="button" onclick="">Test Button 4</button>
<div id="id"></div>
<button type="button" onclick="">Test Button 5</button>
<div id="id"></div>
<button type="button" onclick="">Test Button 6</button>
<div id="id"></div>
<button type="button" onclick="">Test Button 7</button>
<div id="id"></div>




<script src="/javascript/AJAXGETPOST.js"></script>

<script>


    function istart() {
        AJAXPOST("/ttt/istart", "istartData", function (xmlHttpRequest) {
            state();
        });
    }

    function ustart() {
        AJAXPOST("/ttt/ustart", "ustartData", function (xmlHttpRequest) {
            state();
        });
    }


</script>
</body>
</html>