{% extends "layout.html" %}
{% block title %}ITL Component Store{% endblock %}

{% block content %}
<div class="container">
    <h4>List of Active Repositories</h4>
    <table class="table table-bordered">
        <tr class="active">
            <th>Repository Name</th>
            <th>Created</th>
            <th>Select Repository</th>
        </tr>
        {% for bucket in buckets %}
        <tr>
            <td>{{ bucket['Name'] }}</td>
            <td>{{ bucket['CreationDate'] | datetimeformat }}</td>
            <td>
                <form action="{{ url_for('index') }}" class="select-bucket" method="post">
                    <input name="bucket" type="hidden" value="{{ bucket['Name'] }}">
                    <button class="btn btn-primary btn-sm" type="submit">
                        <i class="fa fa-archive"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
