{% extends "layout.html" %}
{% block title %}ITL Component Store{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Store Recipes</h3>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p class="bg-info" style="padding: 15px;">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
          </p>
        {% endif %}
      {% endwith %}
      <hr>
      <a type="submit" href="{{ url_for('new_Recipe') }}">Create New Recipe</a><br><br>
      <table class="table table-striped">
        <tr>
          <th>Recipe</th>
          <th>Version</th>

        </tr>
        {% for recipe in recipes %}
        <tr>
          <td>{{ recipe['name'] }}</td>
          <td class="td-buttons">
            {% for ver in dB.recipeVersions("instance/flaskr.sqlite",name) %}
                <form class="download-form" action="{{ url_for('recipeDetails') }}" method="POST">
                  <input type="hidden" name="recipePK" value="{{ dB.get_a_recipe_ID('instance/flaskr.sqlite',name,ver) }}">
                  <input type="hidden" name="recipeName" value="{{name}}">
                  <input type="hidden" name="ver" value="{{ver}}">
                  <button type="submit" class="btn btn-outline-primary">
                    {{ ver }}
                  </button>
                </form>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
