{% extends "layout.html" %}
{% block title %}Versions{% endblock %}

{% block content %}
<div class="container">
    <div class="col-12-xs">
        <h4>Versions for: {{componentName}}</h4>
        {% if atR != 'None' %}
        <p>Any Components you select will be added to Recipe ID: {{ atR }}</p>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="bg-info" style="padding: 15px;">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </p>
        {% endif %}
        {% endwith %}
        <hr>

        <table class="table table-bordered">
            <tr>
                <th class="info">Version</th>
                <th class="success">Download</th>
                <th class="danger">Remove</th>
                {% if atR != 'None'%}
                <th class="warning">Add to Selected Recipe</th>
                {% endif %}
            </tr>
            {% for version in versions %}
            <tr>
                <td class="col-sm-4">{{ version }}</td>
                <td class="col-sm-2">
                    <form action="{{ url_for('download') }}" class="download-form" method="POST">
                        <input name="key" type="hidden" value="{{ version['url'] }}">
                        <button class="btn btn-default btn-sm" type="submit">
                            <i class="fa fa-download"></i>
                        </button>
                    </form>
                </td>
                <td class="col-sm-2">
                    <form action="{{ url_for('deleteComponentBucket') }}" class="delete-form" method="POST">
                        <input name="ver" type="hidden" value="{{ version }}"/>
                        <input name="Fname" type="hidden" value="{{ componentName }}"/>
                        <button class="btn btn-danger" type="submit">
                            Delete
                        </button>
                    </form>
                </td>
                {% if atR != 'None'%}
                <td class="col-sm-2">
                    <form action="{{ url_for('addComponentRecipe') }}" class="download-form" method="post">
                        <input name="componentName" type="hidden" value="{{ componentName }}">
                        <input name="version" type="hidden" value="{{ version }}">
                        <input name="recipe" type="hidden" value="{{ atR }}">
                        <button class="btn btn-warning" type="submit">
                            Add
                        </button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('files') }}">Go back to component list<a>
    </div>
</div>
{% endblock %}
