{% extends "layout.html" %}
{% block title %}Versions{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Versions for: {{componentName}}</h3>
      {% if atR != 'None' %}
        <p>Any Components you select will be added to Recipe ID: {{ atR }}</p>
      {% endif %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p class="bg-info" style="padding: 15px;">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
          </p>
        {% endif %}
      {% endwith %}
      <hr>

      <hr>
      <table class="table table-striped">
        <tr>
          <th>Version</th>
          <th></th>
        </tr>
        {% for version in dB.lookup("instance/flaskr.sqlite",componentName) %}
        <tr>
          <td>{{ version }}</td>
          <td>
            <form class="download-form" action="{{ url_for('download') }}" method="POST">
                <input type="hidden" name="key" value="{{ dB.get_URL('instance/flaskr.sqlite',componentName,version) }}">
                <button type="submit" class="btn btn-default btn-sm">
                  <i class="fa fa-download"></i>
                </button>
            </form>
          </td>
          <td>
            {% if atR != 'None'%}
              <form class="download-form" action="{{ url_for('addComponentRecipe') }}" method="post">
                  <input type="hidden" name="componentName" value="{{ componentName }}">
                  <input type="hidden" name="version" value="{{ version }}">
                  <input type="hidden" name="recipe" value="{{ atR }}">
                  <button type="submit" class="btn btn-default btn-sm">
                    Add to Selected Recipe
                  </button>
              </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
